{% extends 'base.html.twig' %}
{% block title %}Klienci i referencje{% endblock %}

{% block body %}
<h1 class="mb-3">Klienci</h1>
<p>Strona zostanie uzupełniona o konkretne nazwy firm i usługi.</p>
<ul class="list-unstyled lh-lg">
  <li>Firma A – umowy, korespondencja</li>
  <li>Kancelaria B – dokumenty sądowe</li>
  <li>Instytucja C – akty i zaświadczenia</li>
</ul>
{% endblock %}
