{% extends 'base.html.twig' %}
{% block title %}Warunki realizacji{% endblock %}

{% block body %}
<h1 class="mb-3">Warunki realizacji</h1>
<ul class="list-unstyled lh-lg">
  <li>Strona rozliczeniowa: <strong>1125 znaków</strong> (uwierzytelnione) / <strong>1600 znaków</strong> (zwykłe).</li>
  <li>Standard: do <strong>5 stron/dzień</strong> (ekspres do ustalenia).</li>
  <li>Pliki: PDF, DOCX, JPG, PNG; skany czytelne i kompletne.</li>
  <li>Poufność: RODO, bezpieczne przechowywanie/usuwanie.</li>
</ul>
{% endblock %}
