{% extends 'base.html.twig' %}

{% block title %}O mnie{% endblock %}

{% block body %}
<h4 class="fw-bold mb-3">O mnie</h4>
<p>
    Jestem tłumaczem przysięgłym języka niemieckiego z wieloletnim doświadczeniem. 
    Specjalizuję się w tłumaczeniach uwierzytelnionych (pieczęć), obejmujących m.in. dokumenty urzędowe, 
    umowy, akty stanu cywilnego, dokumenty samochodowe, świadectwa i dyplomy. 
    Oferuję terminowość, rzetelność oraz pełną poufność powierzonych materiałów.
</p>

<h4 class="fw-bold mt-5 mb-4">Najczęstsze zlecenia</h4>
<div class="row text-center">
    <div class="col-6 col-md-3">Akty stanu cywilnego</div>
    <div class="col-6 col-md-3">Umowy i dokumenty firmowe</div>
    <div class="col-6 col-md-3">Dokumenty samochodowe</div>
    <div class="col-6 col-md-3">Świadectwa i dyplomy</div>
</div>
{% endblock %}
