{% extends 'base.html.twig' %}
{% block title %}Usługi – Tłumacz przysięgły (DE){% endblock %}

{% block body %}
<h1 class="mb-4">Zakres usług</h1>
<div class="row g-4">
  <div class="col-md-4">
    <h3 class="h5">Tłumaczenia uwierzytelnione</h3>
    <ul class="mb-0">
      <li>Akty stanu cywilnego</li>
      <li>Dokumenty sądowe i notarialne</li>
      <li>Umowy, pełnomocnictwa</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 class="h5">Tłumaczenia zwykłe</h3>
    <ul class="mb-0">
      <li>Korespondencja, oferty, katalogi</li>
      <li>Instrukcje, specyfikacje techniczne</li>
      <li>CV, listy motywacyjne</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 class="h5">Tłumaczenia ustne</h3>
    <ul class="mb-0">
      <li>Spotkania biznesowe</li>
      <li>Notariusz, USC, sąd</li>
      <li>Szkolenia/online</li>
    </ul>
  </div>
</div>
{% endblock %}
